.dashboard {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2.3rem;
}

.hodinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.table-container {
  overflow-x: auto;
  padding: 1rem;
}

table-container .note {
  font-size: 8px;
}

.table-container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.responsive-table th,
.responsive-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.responsive-table td button {
  padding: 6px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.responsive-table th {
  background-color: #007bff;
  color: white;
}
