/* html {
  display: flex;
} */

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between buttons */
}

/* logout button */
.logout-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.logout-btn:hover {
  opacity: 0.8;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.main-form {
  width: 350px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.main-form h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
}

.main-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap: 12px;
}

.main-form .form-row label {
  color: black;
  font-weight: 700;
}

.main-form input,
.main-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.main-form input:focus,
.main-form select:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.main-form button {
  width: 40%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.main-form button:hover {
  background-color: #0056b3;
}

.main-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.main-form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.main-form div input {
  width: 60%;
}
